<div class="welcome">
	<h2>Welcome to CSE Motors!</h2>
</div>
<div class="hero-image">
	<picture>
		<source srcset="/images/vehicles/delorean.jpg" media="(min-width: 600px)">
    <img src="/images/vehicles/delorean-tn.jpg" alt="DMC Delorean" style="width:auto;">
	</picture>
	<div class="hero-text">
		<h3>DMC Delorean</h3>
		<p>3 Cup holders</p>
		<p>Superman doors</p>
		<p>Fuzzy dice!</p>
		<img src="/images/site/own_today.png" alt="Own Today">
	</div>
</div>

<section class="reviews">
	<h3>DMC Delorean Reviews</h3>
	<ul>
		<li>"So fast it's almost like traveling in time." (4/5)</li>
		<li>"Coolest ride on the road." (4/5)</li>
		<li>"I'm feeling McFly!" (5/5)</li>
		<li>"The most futuristic ride of our day." (4/5)</li>
		<li>"80's livin and I love it!" (5/5)</li>
	</ul>
</section>

<section class="upgrades">
	<h3>Delorean Upgrades</h3>
	<div class="upgrades-grid">
		<div class="upgrade-item">
			<img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
			<a href="#">Flux Capacitor</a>
		</div>
		<div class="upgrade-item">
			<img src="/images/upgrades/flame.jpg" alt="Flame Decals">
			<a href="#">Flame Decals</a>
		</div>
		<div class="upgrade-item">
			<img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
			<a href="#">Bumper Stickers</a>
		</div>
		<div class="upgrade-item">
			<img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
			<a href="#">Hub Caps</a>
		</div>
	</div>
</section>